# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
click=6.7=py27_0
cython=0.25.2=py27_0
decorator=4.0.11=py27_0
flask=0.12=py27_0
itsdangerous=0.24=py27_0
jinja2=2.9.5=py27_0
joblib=0.9.4=py27_0
markupsafe=0.23=py27_2
nomkl=1.0=0
numpy=1.12.0=py27_nomkl_0
openssl=1.0.2k=1
pip=9.0.1=py27_1
python=2.7.13=0
readline=6.2=2
scikit-learn=0.18.1=np112py27_nomkl_1
scipy=0.19.0=np112py27_nomkl_0
setuptools=27.2.0=py27_0
six=1.10.0=py27_0
sqlite=3.13.0=0
tk=8.5.18=0
werkzeug=0.12=py27_0
wheel=0.29.0=py27_0
zlib=1.2.8=3
