appdirs==1.4.3
audioread==2.1.4
click==6.7
cycler==0.10.0
Cython==0.25.2
decorator==4.0.11
Flask==0.12
functools32==3.2.3.post2
itsdangerous==0.24
Jinja2==2.9.5
joblib==0.11
librosa==0.5.0
MarkupSafe==1.0
matplotlib==2.0.0
numpy==1.12.0
packaging==16.8
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2016.10
resampy==0.1.5
scikit-learn==0.18.1
scipy==0.19.0
six==1.10.0
subprocess32==3.2.7
Werkzeug==0.12
