<!DOCTYPE html>
<html>
	<head> 
    <title>FuseMe</title>
    <link rel="stylesheet" type="text/css" href="../static/about.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
	</head> 

	<body>
    <div id="title-block"><h1>FuseMe</h1></div>
    
    <article>
    	<header>About FuseMe</header>
			<p id="about-us">
        blah bah blah cross synthesis
      </p>
      <a id="back" href="/">Back to FuseMe app</a>
    </article>
    <footer><p>A project by Austin Chambers, Eric Hao, and Junhao Li</p></footer>
  </body>
<html>