<!DOCTYPE html>
<html>
	<title>FuseMe™</title>

	<head> FuseMe </head>
	<br></br>
	<body>
		<p> 
			FuseMe™ takes a snippet of music and fuses it with your voice using cross synthesis. Upload a song and yourself saying something and try it out!
		</p>

	<p> Upload your song here</p>
    <form action='/file/1' method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>
    <p> Upload your voice here </p>
    <form action='/file/2' method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Upload>
    </form>
    <form action='/playback'>
    	<input type="submit" value="Fuse"/>
    </form>
	</body>
	<footer>A project by Austin Chambers, Junhao Li and Eric Hao</footer>
<html>