<!DOCTYPE html>
<html>
	<title>FuseMe™</title>

	<head> FuseMe </head>
	<body>
		some bullshit
		some bullshit
		some bullshit
		some bullshit
		some bullshit
		some bullshit
		some bullshit
		some bullshit
		some bullshit
		some bullshit
		some bullshit
		some bullshit

		<p> Upload your gotdamn sonds here</p>
		<button onclick="upload()">Upload</button>
		<script>
		function upload() {
	    	var x = document.createElement("INPUT");
	    	x.setAttribute("type", "file");
	    	document.body.appendChild(x);
		}
		</script>

		<p> Play ur gottdamn shit </p>
		<audio controls>
		  <source src="/uploads/whitealbumyuki" type="audio/mp3">
		Your browser does not support the audio element.
		</audio>
	</body>
<html>