/* HTML/BODY */

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	min-width: 50rem;
	margin: 0;
}

/* FONTS */

h1, header {
	font-family: 'Robot', sans-serif;
}

p, a, .quadrant {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

/* TITLE STYLING */

#title-block {
	height:18%;
	background-color: #3D315B;
	text-align: center;
}

h1 {
	font-size: 4.5rem;
	margin: 0;
	padding-top: 1.7rem;
	color: white;
}

/* MIDDLE ARTICLE BLOCK */

article {
	position: relative;
	min-height: 75%;
	margin: 0% 15%;
	overflow: hidden;
}

header {
	padding-top: 2rem; 
	font-size: 2.5rem;
	font-weight: bold;
	text-decoration: underline;
}

article p {
	padding: 0rem;
	padding-top: 0.4rem;
	font-size: 1rem;
}

.quadrant {
	display: inline-block;
	padding: 1rem 0rem;
	width: 49%;
	text-align: center;
}

.quadrant > * {
	vertical-align: top;
}

.quadrant span {
	margin-right: 0.6rem;
	font-weight: bold;
}

.quadrant .shorter {
	width: 20rem;
}

.quadrant .longer {
	width: 23rem;
}

#back {
	float: right;
	margin-top: 4rem;
	margin-bottom: 2rem;
	padding: 0.1rem 0.7rem;
	border: 0.2rem solid #3D315B;
	border-radius: 1.2rem;
	background-color: rgba(61, 49, 91, 0.4);
	font-size: 1.2rem;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

#back:hover {
	background-color: rgba(61, 49, 91, 0.2);
}

#back:active {
	background-color: rgba(61, 49, 91, 0.4);
}


/* FOOTER */

footer {
	height: 7%;
	background-color: #383838;
	text-align: center;
}

footer p {
	padding-top: 1rem;
	color: white;
}