/* HTML/BODY */

html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	min-width: 58rem;
	margin: 0;
}

/* FONTS */

h1, header {
	font-family: 'Robot', sans-serif;
}

p, h2, input, footer, label, span {
	font-family: 'Open Sans', sans-serif;
}

/* TITLE STYLING */

#title-block {
	height:18%;
	background-color: #3D315B;
	text-align: center;
}

h1 {
	font-size: 4.5rem;
	margin: 0;
	padding-top: 1.7rem;
	color: white;
}

p {
	margin: 0;
}

/* INTRODUCTION*/

article {
	height: 16%;
	padding: 0% 10%;
}

#introduction {
	padding: 0rem;
	padding-top: 1rem;
	font-size: 1.5rem;
}

a {
	color: inherit;
}

/* UPLOAD FORMS STYLING */

main {
	height: 55%;
	padding: 0% 30%;
}

h2 {
	margin: 0;
	font-size: 2rem;
}

.break {
	height: 0.2rem;
	width: 100%;
	margin-top: 0.1rem;
	margin-bottom: 0.4rem;
	background-color: #3D315B;
}

form {
	position: relative;
}

input, label {
	cursor: pointer;
	display: inline-block;
}

label {
	border: 0.2rem solid #3D315B;
	border-radius: 1.2rem;
	padding: 0.1rem 0.7rem;
	margin-bottom: 3rem;
	background-color: rgba(61, 49, 91, 0.4);
	font-size: 1.2rem;
}

label:hover {
	background-color: rgba(61, 49, 91, 0.2);
}

label:active {
	background-color: rgba(61, 49, 91, 0.4);
}

input {
	border: none;
}

.file-submit, #song-upload, #voice-upload {
	display: none;
}
.submit-status {
	position: absolute;
	right: 0%;
	top: 9%;
}

.submit-status {
	color: red;
}

.complete {
	color: green;
}

/* FUSE BUTTON */

#fuse {
	text-align: center;
}

#fuse input {
  margin-top: 1rem;
  padding: 0.3rem 8rem;
  background-color: #3D315B;
  color: white;
  font-size: 1.5rem;
}

#fuse input:hover {
	background-color: rgba(61, 49, 91, 0.9);
}

#fuse input:active {
	background-color: #3D315B;
}

/* FOOTER */

footer {
	height: 11%;
	background-color: #383838;
	text-align: center;
}

footer p {
	padding-top: 0.6rem;
	color: white;
}

footer a {
	text-decoration: none;
}
