<!DOCTYPE html>
<html>
	<head>
    <title>FuseMe</title>
    <link rel="stylesheet" type="text/css" href="../static/playback.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
	</head>
	<body>

  	<div id="title-block"><h1>FuseMe</h1></div>

    <div id="playback">
    	<header>Fuse Results</header>
    	<table>
    		<tr>
    			<td class="labels">
    				<p>Your Song</p>
    			</td>
    			<td class="audios">
						<audio controls="controls" src="/static/audio/carrier_{{request.cookies.get('username')}}.wav"></audio>
    			</td>
    		</tr>
    		<tr>
    			<td class="labels">
    				<p>Your Voice</p>
    			</td>
    			<td class="audios">
    				<audio controls="controls" src="/static/audio/modulator_{{request.cookies.get('username')}}.wav"></audio>
    			</td>
    		</tr>
    		<tr>
    			<td class="labels">
    				<p>Your Fusion</p>
    			</td>
    			<td class="audios">
    				<audio controls="controls" src="/static/audio/fusion_{{request.cookies.get('username')}}.wav"></audio>
    			</td>
    		</tr>
    	</table>
            <form action="/" method="post">
                <button id="back" name="fuse_again" action="/">Fuse again</button>
            </form>
	  </div>

    <footer><p>A project by Austin Chambers, Junhao Li and Eric Hao</p></footer>
  </body>
<html>
