<!DOCTYPE html>
<html>
	<head>
    <title>FuseMe</title>
    <link rel="stylesheet" type="text/css" href="../static/upload_error.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
	</head>

	<body>
    <div id="title-block"><h1>FuseMe</h1></div>

    <article>
    	<header>Whoops!</header>
			<p id="about-us">
        Please upload two .wav files.
      </p>
      <a id="back" href="/">Try again</a>
    </article>
    <footer><p>A project by Austin Chambers, Junhao Li and Eric Hao</p></footer>
  </body>
<html>
